In [12]:
import pandas as pd
table = pd.read_table('data/order.tbl', delimiter='|')

# Min

In [13]:
table.apply(pd.Series.min)

ORDERKEY                                                   1
CUSTKEY                                                    1
ORDERSTATUS                                                F
TOTALPRICE                                           1023.79
ORDERDATE                                         1992-01-01
ORDERPRIORITY                                       1-URGENT
CLERK                                        Clerk#000000006
SHIPPRIORITY                                               0
COMMENT               1AhQw1lwMCgO72NSlQC3gmimCy4y2C6iR127A3
Unnamed: 9                                               NaN
dtype: object

# Max

In [14]:
table.apply(pd.Series.max)

ORDERKEY                       36000000
CUSTKEY                          899999
ORDERSTATUS                           P
TOTALPRICE                       700421
ORDERDATE                    1998-08-02
ORDERPRIORITY                     5-LOW
CLERK                   Clerk#000005995
SHIPPRIORITY                          0
COMMENT          zzzzzP2B6OPmj6yQCCN5jj
Unnamed: 9                          NaN
dtype: object

# Cardinalities

In [15]:
table.apply(pd.Series.nunique)

ORDERKEY         9000000
CUSTKEY           600000
ORDERSTATUS            3
TOTALPRICE         12269
ORDERDATE           1175
ORDERPRIORITY          5
CLERK               1400
SHIPPRIORITY           1
COMMENT          9000000
Unnamed: 9             0
dtype: int64